:root {
    --blanco: #FFFFFF;
    --blancoOscuro: rgb(182, 182, 182)F;
    --Oscuro: #333;
    --primario: #fdba02fd;
    --over: #b18203fd;
    --secundario: #0097a7;
    --gris: #757575;
}


/*pseudoselector*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /*scroll-snap-type: y mandatory;*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--blancoOscuro) 0%, var(--blanco) 50%);
    /*primero direccion despues de color a color*/
}


/*1rem =10px*/


/**selectores mas generales**/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
    color: var(--Oscuro);
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

P {
    opacity: 0.8;
}

h2::after,
.trabajos::after {
    content: url(../img/puntitos-03.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

ul {
    list-style: none;
    text-align: left;
}

.width-95 {
    width: 95%;
    margin: 0 auto;
}


/**fin selectores generales de titulos**/


/*.nosotros, .inicio,.galeria, .navegacion-principal {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}*/

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    text-align: center;
    padding: 1rem 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
        /*display inline inmune al margin y al width, por eso se usa inline block.*/
    }
}

.boton--primario {
    background-color: var(--Oscuro);
    color: var(--primario);
}

.boton--primario:hover {
    background-color: var(--Oscuro);
}

.boton--secundario {
    background-color: var(--primario);
}

.boton--secundario:hover {
    background-color: var(--over);
}

.boton:hover {
    cursor: pointer;
}

span {
    font-weight: bold;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    max-width: 120rem;
    margin: 2rem auto;
}

@media (min-width: 768px) {
    .width-95 {
        width: 100%;
    }
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px -3px rgba(120, 120, 120, 0.58);
    -moz-box-shadow: 0px 5px 15px -3px rgba(120, 120, 120, 0.58);
    box-shadow: 0px 5px 15px -3px rgba(120, 120, 120, 0.58);
    padding: 2rem;
    border-radius: 1rem;
}

.logo__inicio {
    width: 100%;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: -2%;
        margin-left: 50%;
        width: 0%;
        opacity: 0;
    }
    to {
        margin-top: 0%;
        width: 100%;
        opacity: 1;
    }
}


/*utilidades*/

.nav-bg {
    background-color: var(--Oscuro);
}

.enviar .button {
    width: 100%;
}

.w-sm-100 {
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}

.alinear-izquierda {
    justify-content: flex-start;
}

.webp .header {
    background-image: url(../img/bg.webp);
}

.no-webp .header {
    background-image: url(../img/bg.jpg);
}

.bg-fixed {
    background-repeat: no-repeat;
    background-size: cover;
}


/* Fin utilidades   */

@media (min-width: 768px) {
    .bg-fixed {
        background-size: cover;
        background-attachment: fixed;
    }
    .header {
        max-width: 100%;
        height: 100vh;
    }
    .inicio {
        height: 100vh;
    }
}

.header {
    margin: 0;
    padding: 0;
    display: block;
    border-radius: 0.5rem;
}

.inicio {
    background-color: rgba(51, 51, 51, 0.438);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

.imagen img {
    width: 100%;
}

.ubicacion {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.ubicacion .icon {
    width: 1rem;
}

@media (min-width: 768px) {
    .ubicacion .icon {
        width: 4.4rem;
    }
    .inicio .ubicacion p {
        font-size: 1.6rem;
    }
}

.ubicacion p {
    color: var(--blanco);
    font-weight: bold;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
}


/* NAVEGACION PRINCIPAL   */

.navegacion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
        /*distribuir horizantelmente*/
    }
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--Oscuro);
}


/**   ACA VA LA GALERIA  **/

@media (min-width: 768px) {
    .contenedor-trabajos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}


/*  TRABAJOS  */

.trabajos {
    padding: 0 1rem;
}

.trabajos__titulo {
    color: var(--gris);
}

.trabajos__img {
    display: block;
    margin: 0 auto;
    width: 10rem;
    height: auto;
    color: var(--primario);
}

.trabajos__contenedorTexto--texto {
    text-align: center;
}

.trabajos__boton {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

@media (min-width: 768px) {
    .trabajos::after {
        opacity: 0;
    }
    .trabajos__boton {
        width: 100%;
    }
}


/***  G****/

.selectorPagina__contenedor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 10rem;
}

.selectorPagina__contenedor--boton {
    background-color: var(--gris);
    width: 2rem;
    text-align: center;
}


/** NOSOTROS  **/

.info {
    color: var(--Oscuro);
    text-align: center;
}

.info .imagen-info {
    flex-direction: column;
}

.info .imagen-info img {
    border-radius: 1rem;
    max-width: 10rem;
}

.img__ema {
    width: 23rem;
    height: 100%;
}

@media (min-width: 768px) {
    .info .imagen-info {
        padding: 2rem;
        flex-direction: row;
        align-items: center;
    }
    .info .imagen-info img {
        max-width: 25rem;
        /* filter: grayscale(25);*/
    }
    .info .info-ema {
        padding: 2rem;
        flex-direction: column;
    }
    .info-ema--texto {
        text-align: left;
    }
    span {
        font-size: 1.8rem;
        color: var(--Oscuro);
    }
}


/*CONTACTO*/

.contacto {
    padding: 2rem;
    margin: 0 auto;
    text-align: center;
}

.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
}

.bloque {
    text-align: center;
}

.bloque__imagen {
    width: 12rem;
}

.bloque__titulo {
    margin: 0;
}

.lista_contacto {
    text-align: left;
}

.whats {
    color: var(--Oscuro);
}

.lista__contacto--elemento {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr 3fr);
    gap: 0.5rem;
    justify-content: space-evenly;
    /*alinear horizonalmente*/
    align-items: center;
    /*alinear verticalmente*/
}

.enlace {
    grid-column: 2/5;
}


/*fin contacto*/

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.redes__red--img {
    width: 8rem;
}

.botones_inferior {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.botones_inferior--boton:nth-child(2) {
    color: var(--blanco);
    border: solid 0.2rem var(--blanco);
    background-color: var(--Oscuro);
}

@media (min-width: 768px) {
    .botones_inferior {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}


/*footer */

.footer {
    text-align: center;
    color: var(--Oscuro);
    font-size: 1rem;
}